[Unit]
Description=uWSGI instance to serve FootBotApi
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/FootBotApi
Environment="PATH=/home/ubuntu/FootBotApi/FootBotApienv/bin"
ExecStart=/home/ubuntu/FootBotApi/FootBotApienv/bin/uwsgi --ini FootBotApi.ini

[Install]
WantedBy=multi-user.target
